.edit-text,
.display-text {
  min-width: 300px;
  min-height: 150px;
  max-height: inherit;
  max-width: inherit;
  display: flex;
  flex: 1;
}

.display-text {
  padding: 5px 5px 10px 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  white-space: pre-wrap;
}

.edit-display-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.button-container {
  justify-content: right;
  display: flex;
}

.button-container button {
  margin: 10px;
  margin-left: 0px;
}
